.container{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    border: 2px solid black;
}
.box{

    box-sizing:border-box;
}
.box:hover {
    background-color: black;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body button{
    width:100px;
    height: 70px;
    border-radius: 15px;
    font-size:large;
    margin-bottom: 10px;
    background-color: salmon;
    border: 3px solid black;
}